.bg-image2{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuAqslnogs9uxY4fy6sIXNvg0ERedz_SkrOg&usqp=CAU');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
